* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: url(img/cursor.svg), pointer;
    border: none;
}

.center {
    padding-left: calc(50% - 1201px/2);
    padding-right: calc(50% - 1201px/2);
}

.header {
    height: 1024px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    width: 758px;
    /* padding-top: 217px; */
    padding-top: 201px;
    padding-bottom: 18px;
    /* padding-bottom: 32px; */
}

.header__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    /* 177.778% */
    width: 477px;
    padding-bottom: 44px;
}

.header__text--bold {
    font-weight: 700;
}

.header__btn {
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 72px;
    transition: background-color .3s;
    width: 234px;
}

.header__btn:hover {
    background-color: #EB443F;
}

.game {
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
}

.game__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 379px));
    gap: 32px;
    justify-content: center;
}

.game__item {
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 18px;
    transition: all .3s;
    position: relative;
}

.game__item--1 {
    background-image: url(img/game1.jpg);
}

.game__item--2 {
    background-image: url(img/game2.jpg);
}

.game__item--3 {
    background-image: url(img/game3.jpg);
}

.game__item:hover {
    border-radius: 16px;
    border: 3px solid #44D2FF;
    cursor: url(img/cursor.svg), pointer;
}


.game__heading {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

@media(max-width:1200px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        width: 663px;
    }
}

@media(max-width:700px) {
    .title {
        font-size: 32px;
        width: 343px;
        text-align: center;
        padding-top: 238px;
        padding-bottom: 0;
    }

    .header__text {
        font-size: 14px;
        width: 343px;
        text-align: center;
        padding-bottom: 0;
        line-height: 22px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 33px;
        height: 735px;
    }

}

@media(max-width:340px) {
    .title, .header__text {
        width: 300px;
    }
}